@media screen and (max-width: 1200px) {
	html{
		font-size: 14px;
	}
}

article {
	margin-bottom: 4%;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbarTop {
	background-color: #f6f3ec;
	
}

#navbarBottom {
	border-top: 4px solid #94827b;
}

.toggleNavIcon {
	color: #2c1901;
}

.logo {
	max-width: 80px !important; 
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  
}
#logoText {
  font-family:'Cinzel', sans-serif ;
  letter-spacing: 4px;
  font-size: 20px;
  font-weight: bold;
}

.navigationLink {
	color: #2e1800;
}

.navigationLink:active{
	color: #6c757d;
}

.navigationLink:hover{
	color: #6c757d;
}

.bullet {
	margin: 0.75rem;
}
.navIcon {
	font-size: 0.25rem;
	color: #2e1800;
}

#naturalLogo {
	max-width: 200px;
}
header .sticky{
	padding: 5px 100px;
	color: black;
}

.divider{
    border-left: 4px solid #fff;
}

.hero-image{
    position: relative;
    height: 100vh;
    overflow: hidden;
    background:url("heroimg-100.jpg")no-repeat center;
    background-size: cover;


}


#jumbotron2 {
	background-image: url("bronze-pattern-background.jpg");
	background-size: cover;
	color: #fff;
}

#jumbotron3 {
	font-style: italic;
	background-image: url("https://www.dropbox.com/s/xeuvq5v4c0dd2f6/jumbotron3.jpg?raw=1");
	background-size: cover;
	color: #fff;
}

.jumbotronCursiveText {
	font-family: 'Playfair Display', serif;
}

.productName {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	color: #8d674c;
	min-height: 75px;
}

.secondaryTitle {
	white-space: nowrap;
	font-size: 1.75rem;
	font-weight: lighter;
	display: flex;
	align-items: center;
	justify-content: center;
	color:#8d674c;
	margin-bottom: 4%;
}

.secondaryTitle:after, .secondaryTitle:before {
	content: '';
	width: 50%;
	height: 2px;
	background: #e8e8e8;
	margin: 0 10px;
}

.tertiaryTitle {
	font-size: 1.25rem;
	color: #8d674c;
}

#footerContent {
	color: #8d674c;
	border-top: 2px solid #e8e8e8;
}


/*////////////////INPUTS///////////////*/
#helperButtonGroup {
  	top: 40%;
}

.helperButton {
	color: #fff;
	background-color: #8d674c;
	border: none;
	margin-bottom: 2px;
}

.helperButton:active {
	color: #fff;
	background-color: #2c1901;
}

.helperButton:focus {
	box-shadow: none;
}

.itemsBasket {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: red;
    color: white;

}




  #footer {
	padding: 0 0 30px 0;
	font-size: 14px;
	background-color: #555555;
  }
  
  #footer .footer-top {
	padding: 60px 0 30px 0;
	background: #ffffff;
  }
  
  #footer .footer-top .footer-info {
	margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-info h3 {
	font-size: 34px;
	margin: 0 0 20px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	font-family: "Montserrat", sans-serif;
	color: #cccccc;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
  }
  
  #footer .footer-top .footer-info p {
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: "Montserrat", sans-serif;
	color: #cccccc;
  }
  
  #footer .footer-top .social-links a {
	font-size: 18px;
	display: inline-block;
	background: #0339dd;
	color: #ffffff;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 60px;
	height: 36px;
	transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
	background: #ffffff;
	color: #0339dd;
	border: #0339dd;
  }
  
  #footer .footer-top .footer-links {
	margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  #footer .footer-top .footer-links ul li {
	padding: 8px 0;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
	color: #cccccc;
  }
  
  #footer .footer-top .footer-links ul a:hover {
	color: #0339dd;
  }
  
  #footer .footer-top .footer-contact {
	margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact p {
	line-height: 26px;
  }
  
  #footer .copyright {
	text-align: center;
	padding-top: 30px;
	color: #eeeeee;
	font-size: 15px;
  }
  
  #footer .credits {
	text-align: center;
	font-size: 14px;
	padding-top: 4px;
	color: #818181;
  }
  
  #footer .credits a {
	font-weight: bold;
	color: #9b9b9b;
  }
  
  #footer .credits a:hover {
	color: #0a98c0;
  }
  @media(max-width:500px){
	.hero-image{
		position: relative;
		height: 100vh;
		overflow: hidden;
		background:url("mobile.png");
		background-size: cover;
		position: relative;
		background-position: center;
			background-repeat: no-repeat;
	
	
	}
	.container {
		max-width: 100rem;
		margin: 0 ;
		padding: 0 0 0 ;
	
	}
	#gmap_canvas{
		width: 300px;
		height: 200px;
	}
	.btn2{
		position: relative;
		display: block;
		color: rgb(15, 89, 226);
		font-size: 14px;
		font-family: "Natalia";
		text-decoration: none;
		margin:  50px;
		border: 2px solid #0099b4;
		padding: 14px 60px;
		text-transform: uppercase;
		overflow: hidden;
		transition: 1s all ease;

	
	  }
	  .gallery {
		display: flex;
		flex-wrap: wrap;
		/* Compensate for excess margin on outer gallery flex items */
		
		
		
	}
  }
/* Font Awe Some */

/* Body */

/* Social Media Icon Css */
.ebramheading {font-size: 18px; font-weight: 700; padding: 10px 0 25px 0; text-align: center;}
.ebramheading p{font-size:14px; color: #999; font-weight: 400; padding: 3px 0 0;}
.socialicons {padding: 0 0 7px 0;}
.socialicons a:hover {text-decoration: none;}
.rssicon {color: #f89839; font-size: 24px; margin: 0 18px 0 5px;}
.twittericon {color: #55acee; font-size: 24px; margin: 0 18px 0 0px;}
.fbicon {color: #3b5998; font-size: 24px; margin: 0 18px 0 0px;}
.gplusicon {color: #d34836; font-size: 24px; margin: 0 18px 0 0px;}
.yticon {color: #b31217; font-size: 24px; margin: 0 18px 0 0px;}
.emailicon {color: #9a9a9a; font-size: 24px;}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
.flx {
	display:flex;
	justify-content: center;
	align-items: center;
  }
  /*!
   * Simple Social Buttons v2.0
   * Copyright 2020 zkreations
   * Daniel Abel M. (fb.com/danieI.abel)
   * Licensed under MIT (github.com/zkreations/plugins/blob/master/LICENSE)
   */
   /*! Core (No modificar) {{*/
  .nshare {
	box-sizing: border-box;
	margin-top: calc(var(--nshare-spacing) * -1);
	margin-right: calc(var(--nshare-spacing) * -1);
  }
  .nshare-item {
	margin-right: var(--nshare-spacing);
	margin-top: var(--nshare-spacing);
  }
  .nshare-item,
  .nshare-item:hover,
  .nshare-item:active {
	text-decoration: none;
	color: inherit;
  }
  .nshare-item {transition: background .3s, color .3s;}
  .nshare-item i {
	transition: transform .3s;
	margin: 0;
  }
  .nshare, .nshare-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
  }
  .nshare-fb {background-color: var(--nshare-facebook);}
  .nshare-tt {background-color: var(--nshare-twitter);}
  .nshare-pt {background-color: var(--nshare-pinterest);}
  .nshare-tb {background-color: var(--nshare-tumblr);}
  .nshare-rd {background-color: var(--nshare-reddit);}
  .nshare-vk {background-color: var(--nshare-vk);}
  .nshare-ws {background-color: var(--nshare-whatsapp);}
  .nshare-tlg {background-color: var(--nshare-telegram);}
  .nshare-msj {background-color: var(--nshare-email);}
  
  .nshare-fb:hover {color: var(--nshare-facebook);}
  .nshare-tt:hover {color: var(--nshare-twitter);}
  .nshare-pt:hover {color: var(--nshare-pinterest);}
  .nshare-tb:hover {color: var(--nshare-tumblr);}
  .nshare-rd:hover {color: var(--nshare-reddit);}
  .nshare-vk:hover {color: var(--nshare-vk);}
  .nshare-ws:hover {color: var(--nshare-whatsapp);}
  .nshare-tlg:hover {color: var(--nshare-telegram);}
  .nshare-msj:hover {color: var(--nshare-email);}
  
  .nshare-item:hover i {transform: rotate(360deg);}
  /*}} Fin del core {{*/
  
  /*! Personalización */
  /* Contenedor
  -----------------------------------------*/
  .nshare {
	--nshare-spacing: .5rem; /* separacion interna */
	 /* separacion inferior */
  }
  /* Redes sociales
  -----------------------------------------*/
  .nshare {
	--nshare-facebook: #1778F2;
	--nshare-twitter: #55ACEE;
	--nshare-pinterest: #F0002A;
	--nshare-tumblr: #35465C;
	--nshare-reddit: #FF4500;
	--nshare-vk: #4376A6;
	--nshare-whatsapp: #4FCE5D;
	--nshare-telegram: #0088CC;
	--nshare-email: #464EB8;
  }
  /* Botones
  -----------------------------------------*/
  .nshare-item {
	font-size: 22px; /* tamaño de iconos */
	width: 48px; /* ancho */
	height: 48px; /* alto */
	border-radius: .5rem; /* bordes redondeados */
	color: #fff; /* color */
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.1),
				0 2px 5px -1px rgba(0,0,0,.05); /* sombra */
  }
  .nshare-item:hover {
	background-color: #fff; /* fondo (hover) */
  }
  .loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  } 
  /* Services Section
--------------------------------*/

#services {
	background:url("1852.jpg")no-repeat center;
	padding: 60px 0 40px 0;
  }
  
  #services .box {
	padding: 30px;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	margin: 0 10px 40px 10px;
	background: #fff;
	box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
	transition: all 0.3s ease-in-out;
	text-align: center;
  }
  
  #services .box:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
  }
  
  #services .icon {
	margin: 0 auto 15px auto;
	padding-top: 12px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	width: 60px;
	height: 60px;
  }
  
  #services .icon i {
	font-size: 36px;
	line-height: 1;
  }
  
  #services .title {
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 18px;
  }
  
  #services .title a {
	color: #111;
  }
  
  #services .box:hover .title a {
	color: #0339dd;
  }
  
  #services .description {
	font-size: 14px;
	line-height: 28px;
	margin-bottom: 0;
	text-align: center;
  }
 
  /*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
	background:url("1852.jpg")no-repeat center;
	padding: 60px;
  }


  
  .team .member {
	overflow: hidden;
	text-align: center;
	margin-top: 20px;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
	transition: 0.3s;
  }
  
  .team .member .member-img {
	position: relative;
	overflow: hidden;
  }
  
  .team .member .member-img:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background: url(../img/team-shape.svg) no-repeat center bottom;
	background-size: contain;
	z-index: 1;
  }
  
  .team .member .member-info {
	padding: 10px 15px 20px 15px;
  }
  
  .team .member .member-info h4 {
	font-weight: 700;
	margin-bottom: 5px;
	font-size: 20px;
	color:  brown;
  }
  
  .team .member .member-info span {
	display: block;
	font-size: 14px;
	font-weight: 400;
	color: #aaaaaa;
  }
  
  .team .member:hover {
	transform: scale(1.06);
	box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  }
  
  
 
 